@import 'variables';
@import 'mixin';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    width: 100%;
    padding: 20px 0;
    position: fixed;
    .container{
        @include container;
        .navbar{
            @include flex;
            img{
                cursor: pointer;
            }
            ul{
                display: flex;
                gap: 25px;
                li{
                    list-style-type: none;
                    font-family: $font-family2;
                    font-size: 12px;
                    text-transform: uppercase;
                    position: relative;
                    transition: all .4s ease;
                    a{
                        color: $color2;
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        i{
                            font-size: 10px;
                            font-weight: bold;
                        }
                    }
                    .dropdown{
                        position: absolute;
                        display: none;
                        min-width: 150px;
                        z-index: 1;
                        background-color: $color2;
                        a{
                            text-decoration: none;
                            padding: 17px;
                            color: $color3;
                            font-family: $font-family2;
                            font-size: 11px;
                            transition: all .4s ease;
                            &:hover{
                                color: $color1;
                            }
                        }
                    }
                    &:hover .dropdown{
                        display: block;
                    }
                }
            }
            #i{
                display: none;
                font-size: 30px;
                color: $color2;
                cursor: pointer;
            }
        }
    }
}

header{
    width: 100%;
    padding: 150px 0;
    background-image: url('https://preview.colorlib.com/theme/robotics/img/banner-bg.jpg.webp');
    background-size: cover;
    background-position: center;
    .container{
        @include container;
        .head{
            @include flex;
            .improve{
                width: 45%;
                display: flex;
                flex-direction: column;
                gap: 20px;
                h1{
                    font-family: $font-family3;
                    font-size: 68px;
                    color: $color2;
                    font-weight: 100;
                }
                p{
                    font-family: $font-family2;
                    color: $color2;
                    font-size: 14px;
                }
                button{
                    width: 150px;
                    height: 40px;
                    background-color: $color2;
                    border: 1px solid $color2;
                    font-family: $font-family3;
                    font-size: 15px;
                    text-transform: uppercase;
                    transition: all .3s ease;
                    color: $color3;
                    &:hover{
                        background: none;
                        cursor: pointer;
                        color: $color2;
                    }
                }
            }
            .picture{
                width: 45%;
                img{
                    width: 95%;
                }
            }
        }
    }
}

.modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: space-between;
    background-color: rgba($color: #000000, $alpha: 0.6);
    .left{
        width: 270px;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.8);
        ul{
            display: flex;
            flex-direction: column;
            gap: 25px;
            padding: 30px 20px;
            li{
                list-style-type: none;
                font-family: $font-family2;
                font-size: 13px;
                text-transform: uppercase;
                position: relative;
                font-weight: bold;
                a{
                    text-decoration: none;
                    color: $color2;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    #down{
                        font-size: 18px;
                    }
                }
                .dropdown{
                    position: absolute;
                    top: 10px;
                    left: 0;
                    display: none;
                    gap: 20px;
                    z-index: 1;
                    a{
                        text-decoration: none;
                        color: $color3;
                        font-family: $font-family2;
                        font-size: 11px;
                        transition: all .4s ease;
                    }
                }
            }
        }
    }
    .i{
        font-size: 25px;
        position: relative;
        top: 20px;
        right: 20px;
        color: $color2;
        cursor: pointer;
    }
}

.section1{
    width: 100%;
    padding: 100px 0;
    .container{
        @include container;
        .robot{
            width: 100%;
            @include center;
            .feature{
                width: 100%;
                @include center;
                flex-direction: column;
                gap: 10px;
                h2{
                    font-family: $font-family2;
                    font-size: 38px;
                    color: $color3;
                    text-align: center;
                }
                p{
                    font-family: $font-family2;
                    font-size: 15px;
                    color: $color4;               
                 }
            }
        }
        .divs{
            @include flex;
            margin-top: 80px;
            .crab{
                width: 23%;
                box-shadow: 0px 10px 30px 0px rgba(212, 150, 255, 0.4);
                cursor: pointer;
                transition: all .4s ease;
                .up{
                    width: 100%;
                    height: 60%;
                    @include center;
                    background-color: $color2;
                    img{
                        padding: 30px;
                    }
                }
                .down{
                    width: 100%;
                    height: 40%;
                    background-color: $color5;
                    @include center;
                    flex-direction: column;
                    gap: 20px;
                    padding: 30px;
                    h3{
                        font-family: $font-family1;
                        font-size: 20px;
                        color: $color3;
                    }
                    p{
                        font-family: $font-family2;
                        font-size: 15px;
                        color: $color4; 
                    }
                    button{
                        width: 150px;
                        height: 40px;
                        background-color: $color2;
                        border: 1px solid $color2;
                        font-family: $font-family2;
                        font-size: 13.5px;
                        font-weight: bold;
                        text-transform: uppercase;
                        transition: all .4s ease;
                        a{
                            text-decoration: none;
                            color: $color3;
                            transition: all .4s ease;
                        }
                    }
                }
                &:hover button{
                    background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
                    border: 1px solid $color1;
                    color: $color2;
                    cursor: pointer;
                    a{
                        color: $color2;
                    }
                }
            }
        }
    }
}

.section2{
    width: 100%;
    padding: 60px 0;
    .get{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 60px;
        .photo{
            width: 50%;
            @include flex;
            img{
                width: 100%;
            }
        }
        .global{
            width: 30%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            h2{
                font-family: $font-family2;
                color: $color3;
                font-size: 38px;
            }
            #p1{
                font-family: $font-family2;
                font-size: 18px;
                color: $color3;
            }
            #p2{
                font-family: $font-family2;
                font-size: 15px;
                color: $color4;
                line-height: 25px;
            }
            button{
                width: 150px;
                height: 40px;
                background-color: $color1;
                background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
                border: 1px solid $color1;
                font-family: $font-family3;
                font-size: 15px;
                text-transform: uppercase;
                color: $color2;
                transition: all .3s ease;
                &:hover{
                    background: none;
                    cursor: pointer;
                    color: $color1;
                }
            }
        }
    }
}

.section3{
    width: 100%;
    padding: 60px 0;
    .container{
        @include container;
        .life{
            @include flex;
            .brand{
                width: 45%;
                display: flex;
                flex-direction: column;
                gap: 20px;
                #p3{
                    font-family: $font-family2;
                    font-size: 13px;
                    color: $color1;
                    letter-spacing: 1px;
                }
                h2{
                    font-family: $font-family2;
                    color: $color3;
                    font-size: 38px;
                }
                #p4{
                    font-family: $font-family2;
                    color: $color3;
                    font-size: 15px;
                    font-weight: bold;
                }
                #p5{
                    font-family: $font-family2;
                    font-size: 15px;
                    color: $color4;
                    line-height: 25px;
                }
                button{
                    width: 200px;
                    height: 40px;
                    background-color: $color1;
                    background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
                    border: 1px solid $color1;
                    font-family: $font-family3;
                    font-size: 17px;
                    color: $color2;
                    transition: all .3s ease;
                    &:hover{
                        background: none;
                        cursor: pointer;
                        color: $color1;
                    }
                }
            }
            .video{
                width: 50%;
                min-height: 300px;
                background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
                @include center;
                i{
                    color: $color2;
                    font-size: 60px;
                }
            }
        }
    }
}

.section4{
    width: 100%;
    padding: 100px 0;
    background-image: url("https://preview.colorlib.com/theme/robotics/img/feature-bg.jpg.webp");
    background-size: cover;
    background-position: center;
    .container{
        @include container;
        .some{
            width: 100%;
            @include center;
            .unique{
                width: 100%;
                @include center;
                flex-direction: column;
                gap: 10px;
                h2{
                    font-family: $font-family2;
                    font-size: 38px;
                    color: $color2;
                    text-align: center;
                }
                p{
                    font-family: $font-family2;
                    font-size: 15px;
                    color: $color2;               
                 }
            }
        }
        .high{
            width: 100%;
            margin-top: 60px;
            @include flex;
            flex-wrap: wrap;
            gap: 25px;
            .service{
                width: 31%;
                padding: 30px;
                display: flex;
                flex-direction: column;
                gap: 15px;
                background-color: $color2;
                border-radius: 15px;
                cursor: pointer;
                .person{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    color: $color3;
                    transition: all .4s ease;
                    i{
                        font-size: 20px;
                    }
                    h3{
                        font-family: $font-family1;
                        font-size: 20px;
                    }
                }
                p{
                    font-family: $font-family2;
                    color: $color4;
                }
                &:hover .person{
                    color: $color1;
                }
            }
        }
    }
}

.section5{
    width: 100%;
    padding: 100px 0 50px 0;
    .container{
        @include container;
        .creative{
            @include flex;
            .pre{
                width: 20%;
                img{
                    width: 60%;
                    filter: grayscale(100%);
                    transition: all .4s ease;
                    &:hover{
                        filter: grayscale(0%);
                    }
                }
            }
        }
    }
}

.section6{
    width: 100%;
    padding: 70px 0 100px 0;
    .container{
        @include container;
        .blog{
            @include center;
            .late{
                width: 100%;
                @include center;
                flex-direction: column;
                gap: 10px;
                h2{
                    font-family: $font-family2;
                    font-size: 38px;
                    color: $color3;
                    text-align: center;
                }
                p{
                    font-family: $font-family2;
                    font-size: 15px;
                    color: $color4;               
                 }
            }
        }
        .travel{
            @include flex;
            margin-top: 60px;
            .port{
                width: 48%;
                display: flex;
                flex-direction: column;
                .women{
                    width: 100%;
                    height: 70%;
                    img{
                        width: 100%;
                    }
                }
                .lorem{
                    width: 100%;
                    height: 30%;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    padding: 20px 0;
                    .btn{
                        display: flex;
                        gap: 5px;
                        button{
                            width: 85px;
                            height: 35px;
                            font-family: $font-family3;
                            font-size: 15px;
                            color: $color2;
                            background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
                            border: 1px solid $color1;
                            transition: all .4s ease;
                            &:hover{
                                background: none;
                                border: none;
                                color: $color3;
                                cursor: pointer;
                            }
                        }
                    }
                    h3{
                        font-family: $font-family1;
                        font-size: 20px;
                        color: $color3;
                    }
                    #p6{
                        font-family: $font-family2;
                        color: $color4;
                        font-size: 15px;
                    }
                    #p7{
                        font-family: $font-family2;
                        color: $color3;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

footer{
    width: 100%;
    padding: 100px 0;
    background-image: url("https://preview.colorlib.com/theme/robotics/img/footer-bg.jpg.webp");
    background-size: cover;
    background-position: center;
    .container{
        @include container;
        .top{
            @include flex;
            .product{
                width: 28%;
                display: flex;
                flex-direction: column;
                gap: 20px;
                h3{
                    font-family: $font-family2;
                    color: $color2;
                    font-size: 20px;
                }
                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    li{
                        list-style-type: none;
                        color: $color2;
                        font-family: $font-family2;
                        font-size: 16px;
                        transition: all .5s ease;
                        &:hover{
                            color: $color1;
                            cursor: pointer;
                        }
                    }
                }
            }
            .newslatter{
                width: 48%;
                display: flex;
                flex-direction: column;
                gap: 20px;
                margin-top: -30px;
                h3{
                    font-family: $font-family2;
                    color: $color2;
                    font-size: 20px;
                }
                p{
                    font-family: $font-family3;
                    font-size: 17px;
                    color: $color2;
                }
                .mail{
                    display: flex;
                    gap: 20px;
                    input{
                        width: 320px;
                        height: 40px;
                        border-radius: 35px;
                        font-family: $font-family2;
                        font-size: 16px;
                        padding-left: 20px;
                        border: none;
                        @include center;
                    }
                    button{
                        width: 150px;
                        height: 40px;
                        border-radius: 35px;
                        border: none;
                        background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
                        @include center;
                        gap: 10px;
                        font-family: $font-family3;
                        font-size: 15px;
                        color: $color2;
                        text-transform: uppercase;
                        &:hover{
                            background-image: none;
                            background-color: $color1;
                            cursor: pointer;
                        }
                    }
                }
            }
            .feed{
                width: 30%;
                display: flex;
                align-items: flex-end;
                flex-direction: column;
                gap: 20px;
                h3{
                    font-family: $font-family2;
                    color: $color2;
                    font-size: 20px;
                }
                .children{
                    width: 80%;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 5px;
                    .child{
                        width: 23%;
                    }
                }
            }
        }
        .bottom{
            @include flex;
            margin-top: 100px;
            .copy{
                p{
                    font-family: $font-family2;
                    color: $color2;
                    i{
                        color: $color1;
                    }
                    a{
                        text-decoration: none;
                        color: $color1;
                    }
                }
            }
            .icons{
                display: flex;
                gap: 5px;
                .f{
                    width: 40px;
                    height: 40px;
                    background-color: black;
                    @include center;
                    transition: all .5s ease;
                    i{
                        color: $color2;
                    }
                    &:hover{
                        background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .storm{
        position: fixed;
        bottom: 30px;
        right: 30px;
        @include center;
        width: 50px;
        height: 50px;
        background-color: $color1;
        border-radius: 30px;
        cursor: pointer;
        i{
            font-size: 25px;
            color: $color2;
        }
    }
}

.point{
    width: 100%;
    padding: 120px 0 50px 0;
    .container{
        @include container;
        .num{
            @include center;
            .crab{
                width: 23%;
                box-shadow: 0px 10px 30px 0px rgba(212, 150, 255, 0.4);
                cursor: pointer;
                transition: all .4s ease;
                .up{
                    width: 100%;
                    height: 60%;
                    @include center;
                    background-color: $color2;
                    img{
                        padding: 30px;
                    }
                }
                .down{
                    width: 100%;
                    height: 40%;
                    background-color: $color5;
                    @include center;
                    flex-direction: column;
                    gap: 20px;
                    padding: 30px;
                    h3{
                        font-family: $font-family1;
                        font-size: 20px;
                        color: $color3;
                    }
                    p{
                        font-family: $font-family2;
                        font-size: 15px;
                        color: $color4; 
                    }
                    button{
                        width: 150px;
                        height: 40px;
                        background-color: $color2;
                        border: 1px solid $color2;
                        font-family: $font-family2;
                        font-size: 13.5px;
                        font-weight: bold;
                        text-transform: uppercase;
                        color: $color3;
                        transition: all .4s ease;
                    }
                }
                &:hover button{
                    background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
                    border: 1px solid $color1;
                    color: $color2;
                }
            }
        }
    }
}

#add{
    width: 100%;
    @include center;
    form{
        width: 400px;
        padding: 30px 0;
        border: 1px solid sandybrown;
        @include center;
        margin-top: 100px;
        background-color: sandybrown;
        #sub{
            width: 90%;
            height: 90%;
            display: flex;
            flex-direction: column;
            gap: 12px;
            label{
                font-family: $font-family2;
            }
            input[type="file"]::file-selector-button{
                width: 120px;
                height: 30px;
                background-color: seagreen;
                border: 1px solid seagreen;
                color: $color2;
                font-family: $font-family1;
                font-size: 15px;
                cursor: pointer;
            }
            input[type=text]{
                width: 100%;
                height: 30px;
                border: none;
            }
            input[type=submit]{
                width: 100%;
                height: 40px;
                color: $color2;
                font-family: $font-family1;
                background-color: seagreen;
                margin-top: 20px;
                font-size: 18px;
                border: 1px solid seagreen;
                cursor: pointer;
            }
        }
    }
}



@media screen and (max-width:1200px) {
    nav{
        .container{
            padding: 0 100px;
        }
    }
    header{
        padding: 150px 0;
        .container{
            padding: 0 100px;
            .head{
                .improve{
                    h1{
                        font-size: 40px;
                    }
                }
                .picture{
                    width: 50%;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
    .section1{
        .container{
            padding: 0 100px;
        }
    }
    .section2{
        .get{
            .global{
                width: 45%;
            }
        }
    }
    .section3{
        .container{
            padding: 0 100px;
        }
    }
    .section4{
        .container{
            padding: 0 100px;
        }
    }
    .section6{
        .container{
            padding: 0 100px;
        }
    }
    footer{
        .container{
            padding: 0 100px;
        }
    }
}

@media screen and (max-width:990px) {
    nav{
        .container{
            padding: 0 140px;
            .navbar{
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 10px;
            }
        }
    }
    header{
        padding: 220px 0;
        .container{
            padding: 0 140px;
        }
    }
    .section1{
        .container{
            padding: 0 140px;
            .divs{
                flex-wrap: wrap;
                gap: 25px;
                .crab{
                    width: 47%;
                }
            }
        }
    }
    .section2{
        .get{
            flex-direction: column;
            .photo{
                width: 100%;
            }
            .global{
                width: 100%;
                margin-left: 50px;
            }
        }
    }
    .section3{
        .container{
            padding: 0 140px;
            .life{
                flex-direction: column;
                gap: 30px;
                .brand{
                    width: 100%;
                }
                .video{
                    width: 100%;
                }
            }
        }
    }
    .section4{
        .container{
            padding: 0 140px;
            .high{
                .service{
                    width: 47%;
                }
            }
        }
    }
    .section6{
        .container{
            padding: 0 140px;
        }
    }
    footer{
        .container{
            padding: 0 140px;
            .top{
                flex-direction: column;
                gap: 100px;
                .product{
                    width: 100%;
                }
                .newslatter{
                    width: 100%;
                    .mail{
                        flex-direction: column;
                        input{
                            width: 100%;
                        }
                    }
                }
                .feed{
                    width: 100%;
                    align-items: flex-start;
                    .children{
                        width: 100%;
                    }
                }
            }
            .bottom{
                flex-direction: column;
                gap: 20px;
                .copy{
                    width: 100%;
                }
                .icons{
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width:900px) {
    nav{
        .container{
            padding: 0 120px;
            .navbar{
                justify-content: space-between;
                flex-direction: row;
                ul{
                    display: none;
                }
                #i{
                    display: block;
                }
            }
        }
    }
    header{
        .container{
            padding: 0 120px;
        }
    }
}

@media screen and (max-width:768px) {
    header{
        padding: 70px 0;
        .container{
            .head{
                flex-direction: column;
                .improve{
                    width: 100%;
                }
                .picture{
                    width: 100%;
                }
            }
        }
    }
    .section1{
        .container{
            padding: 0 120px;
            .robot{

            }
            .divs{
                flex-direction: column;
                .crab{
                    width: 100%;
                }
            }
        }
    }
    .section3{
        .container{
            padding: 0 120px;
        }
    }
    .section4{
        .container{
            padding: 0 120px;
            .high{
                gap: 30px;
                .service{
                    width: 100%;
                }
            }
        }
    }
    .section6{
        .container{
            padding: 0 120px;
            .travel{
                flex-direction: column;
                gap: 20px;
                .port{
                    width: 100%;
                }
            }
        }
    }
    footer{
        .container{
            padding: 0 120px;
        }
    }
}


@media screen and (max-width:576px) {
    nav{
        .container{
            padding: 0 20px;
        }
    }
    header{
        .container{
            padding: 0 20px;
        }
    }
    .section1{
        .container{
            padding: 0 20px;
        }
    }
    .section3{
        .container{
            padding: 0 20px;
        }
    }
    .section4{
        .container{
            padding: 0 20px;
        }
    }
    .section6{
        .container{
            padding: 0 20px;
        }
    }
    footer{
        .container{
            padding: 0 20px;
        }
    }
}